<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="pingdomuptime" data-view="Pingdomuptime" data-title="Pingdom Uptime" data-moreinfo="more-info" data-suffix="%"></div>
    </li>    
  </ul>
</div>
